<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <ul>
        <% for(let i = 0; i < dirs.length; i++ ){ %>
        <li><a href="<%= dirs[i].href %>"><%= dirs[i].title %></a></li>
        <% } %>
    </ul>
</body>

</html>